[submodule "simple_wss"]
      path = simple_wss
      url = https://github.com/eidheim/Simple-WebSocket-Server.git

[submodule "redisclient"]
	path = redisclient
	url = https://github.com/nekipelov/redisclient.git
